.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* on the main axis */
  align-items: center; /* on the cross axis */

}

btn {
  width: 50px;
  color: yellow;
  background-color: aqua;
  margin: 5px;
  padding: 3px;
  border-radius: 0.4em;
  border: solid lightgrey;
  text-align: center;
  text-decoration: underline black;
  transition-duration: 1s;
}

btn:hover {

  text-decoration: underline grey;
}

.btn-clicked {

  text-decoration: underline pink;
}
/*
form {
  flex-direction: column;
} */
